/.Python
/.directory
/.history/
/.installed.cfg
/.mr.developer.cfg
/.settings
/bin*
/buildout.cfg
/develop-eggs/*
/eggs
/etc
/include
/lib
lib64
/local
/parts*
/pip-selfcheck.json
/src/*
/var/*
/share
pyvenv.cfg
*.pyc
backups/

